<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Minha pagina com electron</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <label for="email">E-Mail:</label>
        <email-input></email-input>
        <label for="password">Password:</label>
        <password-input></password-input>  
        <login-button></login-button>
        <register-button></register-button>
    </div>

    <script src="../public/home/home.js"></script>

</body>
</html>